@font-face {
  font-family: "iconfont"; /* Project id 3233072 */
  src: url('iconfont.woff2?t=1647833626366') format('woff2'),
       url('iconfont.woff?t=1647833626366') format('woff'),
       url('iconfont.ttf?t=1647833626366') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chart-trend-full:before {
  content: "\e8bf";
}

.icon-mobanguanli:before {
  content: "\e636";
}

.icon-guanjianzibiaoqian:before {
  content: "\e669";
}

.icon-ditu:before {
  content: "\e655";
}

.icon-lishuguanxi:before {
  content: "\e703";
}

.icon-biji:before {
  content: "\e620";
}

.icon-timeline-fill:before {
  content: "\e6b5";
}

.icon-huishouzhan:before {
  content: "\e7f2";
}

.icon-faxian:before {
  content: "\e609";
}

.icon-shu:before {
  content: "\e60e";
}

.icon-xiezuo:before {
  content: "\e60f";
}

.icon-diannao--:before {
  content: "\e60c";
}

.icon-shouji--:before {
  content: "\e615";
}

.icon-tubiao-fanyi:before {
  content: "\e61c";
}

.icon-webx:before {
  content: "\e915";
}

.icon-xinxichaxun:before {
  content: "\e61a";
}

.icon-guanjianci:before {
  content: "\e600";
}

