@font-face {
  font-family: "iconfont"; /* Project id 3233072 */
  src: url('iconfont.woff2?t=1646902586584') format('woff2'),
       url('iconfont.woff?t=1646902586584') format('woff'),
       url('iconfont.ttf?t=1646902586584') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinxichaxun:before {
  content: "\e61a";
}

.icon-guanjianci:before {
  content: "\e600";
}

