 .bigworld-content {
     box-sizing: border-box;
     position: relative;
     float: right;
     width: calc(100vw - 250px);
     height: calc(100vh - 75px);
     margin-top: 35px;
     border-radius: 4px 0 0 0;
     background-color: #fff;
 }