.detail-content {
    box-sizing: border-box;
    position: relative;
    float: right;
    width: calc(100vw - 250px);
    height: calc(100vh - 75px);
    margin-top: 35px;
    border-radius: 4px 0 0 0;
    background-color: #fff;
}

.content {
    position: relative;
    width: 100%;
    height: calc(100vh - 180px);
    overflow-y: scroll;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
}

.left {
    display: flex;
    flex-direction: column;
    width: 255px;
}

.left img {
    width: 204px;
    height: 272px;
    border-radius: 6px;
    box-shadow: 6px 6px 6px #aaa;
    cursor: pointer;
    transition: opacity 0.3s;
}

.left .wrapper {
    width: 204px;
    height: 204px;
    line-height: 70px;
    margin-top: -204px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    pointer-events: none;
}

.left img:hover {
    opacity: 0.5;
}

.middle {
    width: calc(100% - 355px);
    height: 100%;
    margin: 0 40px 0 20px;
    text-align: left;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 300px;
}

.right-inside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 120px;
    height: 100%;
    overflow: hidden;
}

.right-inside-item {
    width: 100%;
    height: 30px;
}

.title {
    margin: 6px 0;
    padding: 0 6px;
    font-size: 24px;
    font-weight: bold;
    color: #105177;
}

.title span:first-child {
    margin-right: 4px;
}

.edit {
    font-size: 20px;
}

.title span:last-child {
    margin-left: 14px;
    font-size: 14px;
    font-weight: normal;
    color: #333;
}

.tag {
    margin: 5px 5px 10px 20px;
}

.desc {
    min-height: 100px;
    font-size: 16px;
    margin-bottom: 12px;
    padding-right: 20px;
    line-height: 1.5em;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 25px;
    color: #105177;
}

.control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    /* transform: translateX(-100px); */
}

.control button {
    border: none;
    color: #fff;

}

.control button:first-child {
    width: 100px;
    height: 30px;
    margin-right: 4px;
    border-radius: 15px 0 0 15px;
    background-color: #ff5722;
}

.control button:first-child:hover {
    background-color: #ff8159;
}

.control button:nth-child(2) {
    width: 100px;
    height: 30px;
    margin-right: 4px;
    background-color: #165dff;
}

.control button:nth-child(2):hover {
    background-color: #4080ff;
}

.control button:last-child {
    width: 150px;
    height: 30px;
    border-radius: 0 15px 15px 0;
    background-color: #165dff;
}

.control button:last-child:hover {
    background-color: #4080ff;
}

.cata {
    width: 95%;
    height: 300px;
    margin: 0 auto;
    text-align: left;
}

.cata h2 {
    text-indent: 2em;
    padding-bottom: 4px;
    border-bottom: 1px solid #3f5a93;
    color: #3f5a93;
}

.cata h2 .btn {
    float: right;
    padding: 0;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    color: #3f5a93;
    background-color: #fff;
    cursor: pointer;
}

.cata h2 .btn:hover {
    color: #165dff;
}

.volume {
    width: 95%;
    padding: 15px;
    font-size: 16px;
    text-indent: 2em;
    font-weight: bold;
    border-bottom: 1px solid #e5e6eb;
    color: #3f5a93;
    cursor: pointer;
}

.volume:hover, .volume:hover .btn2 {
    background-color: #f2f3f5;
}

.volume:hover .btn2 {
    display: block;
}

.volume .btn2 {
    display: none;
    float: right;
    padding: 0;
    border: 0;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #3f5a93;
    background-color: #fff;
    cursor: pointer;
}

.volume .btn2:hover {
    background-color: #f2f3f5;
    color: #165dff;
}

.chapter {
    display: none;
    flex-wrap: wrap;
    width: 95%;
    margin: 10px auto;
    margin-bottom: 0;
    padding: 0 10px;
    cursor: pointer;
}

.chapter ._chapter {
    position: relative;
    width: 33%;
    height: 46px;
    text-indent: 2em;
    border-bottom: 1px solid #e5e6eb;
    text-decoration: none;
}

.chapter ._chapter .btn {
    display: none;
    position: absolute;
    top: 3px;
    right: 0;
    padding: 2px;
    border: 0;
    font-size: 12px;
    font-weight: bold;
    color: #3f5a93;
    background-color: #fff;
    cursor: pointer;
}

.chapter ._chapter .btn2 {
    top: 22px;
    right: 0;
}

.chapter ._chapter .btn:hover {
    background-color: #f2f3f5;
    color: #165dff;
}

.chapter ._chapter:hover .btn {
    display: block;
}

.chapter ._chapter:hover, .chapter ._chapter:hover .btn {
    background-color: #f2f3f5;
}

.chapter ._chapter p {
    margin: 0;
}

.chapter ._chapter p:first-child {
    margin-top: 8px;
    margin-left: 4px;
    color: #333;
}

.chapter ._chapter p:nth-child(2) {
    margin-top: 4px;
    margin-left: 4px;
    font-size: 12px;
    color: #999;
}


/* 控制图标90度旋转/复位 */
.rotate {
    transition-duration: .3s;
    transform: rotateZ(90deg);
}

.-rotate {
    transition-duration: .3s;
    transform: rotateZ(0);
}

/* 弹窗 */
#modify-box {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#modify-box .box, #modify-box .box-replace, #modify-box .wastepaperBasket {
    position: relative;
    top: 50%;
    width: 550px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
    transform: translateY(-50%);
}

/* 裁剪图片框不能加动画 */
#modify-box .box {
    animation: spredModify 0.3s ease-out;
}

#modify-box .wastepaperBasket {
    width: 400px;
}

.box-header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-bottom: 1px solid #e5e6eb;
}

.box-header .header-title {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    color: #1d2129;
    font-weight: 500;
    font-size: 16px;
}

.box-header .header-close {
    margin-left: -12px;
    padding: 4px;
    color: #1d2129;
    font-size: 12px;
    cursor: pointer;
    border-radius: 50%;
}

.box-header .header-close:hover {
    background-color: #f2f3f5;
}

.box-body {
    position: relative;
    max-height: 300px;
    padding: 24px 20px;
    color: #1d2129;
    font-size: 14px;
    overflow-y: scroll;
}

.box-body-replace img {
    display: block;
    max-width: 100%;
}


.box-footer {
    box-sizing: border-box;
    width: 100%;
    padding: 16px 20px;
    text-align: right;
    border-top: 1px solid #e5e6eb;
}

.box-body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.box-body ul li {
    font-size: 15px;
    height: 40px;
    margin: 5px 0;
    padding: 5px;
}

.box-body ul li:hover {
    background-color: #f2f3f5;
}

.box-body ul li .left {
    float: left;
    width: 90%;
    height: 100%;
}

.box-body ul li .right {
    float: right;
    width: 10%;
    height: 40px;
}

.box-body ul li .left span {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.box-body ul li .left span:nth-child(2) {
    font-size: 14px;
    color: #999;
}

.btn-unchecked {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #f2f3f5;
    border: 2px solid #e5e6eb;
    cursor: pointer;
}

.btn-checked {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #f53f3f;
    border: 2px solid #f53f3f;
}

.box-footer {
    box-sizing: border-box;
    width: 100%;
    padding: 16px 20px;
    text-align: right;
    border-top: 1px solid #e5e6eb;
}

#tagWall {
    width: 370px;
    margin: 0 auto;
    padding: 0 40px;
    padding-bottom: 20px;
    background-color: #f7f8fa;
    overflow: hidden;
}

#tagWall h4 {
    margin: 0;
    margin-bottom: 10px;
}

#tagWall .arco-tag {
    cursor: pointer;
}

/* .fade-enter-active, .fade-leave-active {
    transition: opacity 0.6s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
} */

/* ----------标签墙展开效果----------- */

.expansion {
    transition-duration: .3s;
    height: 450px;
    visibility: visible;
}

.-expansion {
    transition-duration: .3s;
    height: 0;
    visibility: hidden;
}

/* 右侧栏展开关闭效果 */
.spread {
    animation: spread 0.3s ease-in-out forwards;
}

.-spread {
    animation: -spread 0.3s ease-in-out forwards;
}

@keyframes spread {
    from {
        width: 45px;
    }

    to {
        width: 120px;
    }
}

@keyframes -spread {
    from {
        width: 120px;
    }

    to {
        width: 45px;
    }
}

@keyframes spredModify {
    0% {
        width: 0;
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        width: 550px;
        opacity: 1;
    }
}