.content {
    width: 100%;
    height: calc(100vh - 85px);
    padding: 0;
}

.tool-bar {
    position: absolute;
    z-index: 99;
    top: 45px;
    right: 20px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 10px;
    box-shadow: 0 4px 4px #0000001a;
    transition: background-color .1s linear;
    cursor: pointer;
    user-select: none;
    font-size: 16px;

    &:hover {
        background-color: #f2f3f5;
    }
}