.content {
    width: 100%;
    height: calc(100vh - 85px);
    padding: 0;
}

.tool-bar {
    position: absolute;
    z-index: 99;
    top: 45px;
    right: 20px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: var(--color-text-2);
    background-color: var(--color-secondary);
    border-radius: 10px;
    box-shadow: 0 4px 4px #0000001a;
    transition: background-color .1s linear;
    user-select: none;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        color: var(--color-text-3);
        background-color: var(--color-secondary-hover);
    }
}