.arco-tooltip[trigger-placement="top"] {
    .arco-tooltip-content {
        background-color: rgb(var(--my-secondary-6));
        padding: 4px 6px;
        transform: translateY(-10px);
    }

    .arco-tooltip-popup-arrow {
        background-color: rgb(var(--my-secondary-6));
        transform: translate(-50%, -6px) rotate(45deg) !important;
    }
}

.slider {


    .arco-slider-track::before {
        background-color: rgb(var(--primary-6));
    }

    .arco-slider-ticks .arco-slider-tick {
        background-color: rgb(var(--primary-6));
    }

    .arco-slider-btn::after {
        height: 30px;
        background: hsla(0, 0%, 100%, .11);
        box-shadow: 0 0 7px 0 hsl(0deg 0% 100% / 50%);
        border-radius: 4px;
        border: 2px solid rgb(var(--primary-6));
        position: absolute;
        cursor: pointer;
        margin-top: -10px;
    }

    .arco-slider-dots .arco-slider-dot-wrapper .arco-slider-dot {
        border-color: rgb(var(--primary-6));
    }

    .arco-slider-dots .arco-slider-dot-wrapper[style="left: 100%;"] {
        .arco-slider-dot {
            width: 0;
            height: 0;
            border: none;
            border-radius: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 10px solid rgb(var(--primary-6));
            transform: rotateZ(90deg);
        }


    }

    .arco-tabs-content {
        padding-top: 5px;
    }

    .arco-result {
        padding: 7px 5px;

        .arco-result-icon-custom {
            margin-bottom: 5px;
        }

        .arco-result-extra {
            margin-top: 5px;
        }
    }
}