@mixin theme {
    // 自定义组件库颜色 
    --primary-1: 165, 192, 192; // 去饱和85% + 加亮度25%
    --primary-2: 138, 192, 191; // 去饱和70% + 加亮度25%
    --primary-3: 111, 192, 191; // 去饱和55% + 加亮度25%
    --primary-4: 85, 192, 190; // 去饱和40% + 加亮度25%
    --primary-5: 13, 192, 189; // 加亮度25%
    --primary-6: 12, 171, 168; // 初始主色------------------------
    --primary-7: 9, 128, 126; // 加暗度25%
    --primary-8: 7, 103, 101; // 加暗度40%
    --primary-9: 5, 77, 76; // 加暗度55%
    --primary-10: 4, 51, 50; // 加暗度70%

    --my-secondary-5: 126, 163, 254; // 去饱和25%
    --my-secondary-6: 83, 133, 253; // 初始副色------------------------
}

body {
    @include theme;
    --my-bg-color: 255, 255, 255; // 白色背景色
    --my-bg2-color: 242, 243, 245; // 次白色背景
    // --my-font-color: 51, 51, 51; //#333黑色基础字体
    --scrollbar-color: #e5e6eb;
}

body[arco-theme='dark'] {
    @include theme;
    --my-bg-color: 23, 23, 26; // 黑色背景色
    --my-bg2-color: 35, 35, 36; // 次黑色背景
    // --my-font-color: 255, 255, 255; //#fff白色基础字体
    --scrollbar-color: #444;
}

body {
    background-color: rgb(var(--my-bg-color));

    &::-webkit-scrollbar {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::selection {
    color: rgb(var(--my-bg-color));
    background-color: #ef7a82;
}

/* 组件库微调 */
.arco-modal {
    top: 50%;
    transform: translateY(-50%);
}

.arco-layout-sider-children {
    overflow-y: scroll;
    overflow-x: hidden;
}

.arco-menu-inner {
    overflow: hidden;
}

.arco-menu-vertical .arco-menu-item,
.arco-menu-vertical .arco-menu-group-title,
.arco-menu-vertical .arco-menu-pop-header,
.arco-menu-vertical .arco-menu-inline-header {
    margin-bottom: 0;
}

.arco-modal-body {
    text-align: center;
}

.arco-tooltip-content,
.arco-tooltip-popup-arrow {
    background-color: rgb(var(--my-secondary-6));
}

// 颜色选择器颜色适应
.vc-sketch[aria-label="Sketch color picker"] {
    background-color: var(--color-bg-popup);

    .vc-sketch-field .vc-input__label {
        color: var(--color-text-1);
    }
}