body {
    --my-bg-color: 255, 255, 255; // 白色背景色
    --my-bg2-color: 242, 243, 245; // 次白色背景
    // --my-font-color: 51, 51, 51; //#333黑色基础字体
    --scrollbar-color: #e5e6eb;
}

body[arco-theme='dark'] {
    --my-bg-color: 23, 23, 26; // 黑色背景色
    --my-bg2-color: 35, 35, 36; // 次黑色背景
    // --my-font-color: 255, 255, 255; //#fff白色基础字体
    --scrollbar-color: #444;
}

body {
    background-color: rgb(var(--my-bg-color));

    &::-webkit-scrollbar {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 6px;
    // height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-fill-3);
    border-radius: 5px;

    &:hover {
        background-color: var(--color-fill-4);
    }
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::selection {
    color: #fff;
    background-color: rgb(var(--my-secondary-6));
}

/* 组件库微调 */
.arco-modal {
    top: 50%;
    transform: translateY(-50%);
}

.arco-layout-sider-children {
    overflow-y: scroll;
    overflow-x: hidden;
}

.arco-menu-inner {
    overflow: hidden;
}

.arco-menu-vertical .arco-menu-item,
.arco-menu-vertical .arco-menu-group-title,
.arco-menu-vertical .arco-menu-pop-header,
.arco-menu-vertical .arco-menu-inline-header {
    margin-bottom: 0;
}

.arco-modal-body {
    text-align: center;
}

.arco-tooltip-content,
.arco-tooltip-popup-arrow {
    background-color: rgb(var(--my-secondary-6));
}

.arco-popover-popup-content {
    padding: 6px !important;

    p {
        margin: 4px 0;
    }
}

// 颜色选择器颜色适应
.vc-sketch[aria-label="Sketch color picker"] {
    background-color: var(--color-bg-popup);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);

    .vc-sketch-field .vc-input__label {
        color: var(--color-text-1);
    }
}