// @import url('./mixin/mixin.scss');

.home-content {
    box-sizing: border-box;
    position: relative;
    float: right;
    width: calc(100vw - 250px);
    height: calc(100vh - 75px);
    margin-top: 35px;
    border-radius: 4px 0 0 0;
    background-color: #fff;
}

.content {
    position: relative;
    width: 100%;
    height: calc(100vh - 180px);
    overflow-y: scroll;
}

.cover-block {
    float: left;
    width: 162px;
    height: 205px;
    background-color: red;
    margin: 30px 40px;
    background: url('../../public//static//img/book-border.png') no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.cover {
    position: relative;
    width: 150px;
    height: 200px;

    span {
        position: absolute;
        top: 6px;
        left: 0;
        width: 75px;
        height: 20px;
        line-height: 20px;
        color: #fff;
        font-weight: bold;
        border-radius: 0 4px 4px 4px;
        background-color: rgba(10, 10, 10, .3);
    }

    &:hover {
        animation: rotateBook 0.3s;
        animation-fill-mode: forwards;
    }
}

.checked-cover {
    position: relative;
    width: 150px;
    height: 200px;

    .btn-unchecked {
        position: absolute;
        top: 6px;
        left: 0;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #f2f3f5;
        border: 2px solid #e5e6eb;
    }

    .btn-checked {
        position: absolute;
        top: 6px;
        left: 0;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #f53f3f;
        border: 2px solid #f53f3f;
    }
}

.img {
    width: 150px;
    height: 200px;
    border-radius: 4px;
    margin-top: 4px;
    margin-left: -2px;
}

.title {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 148px;
    padding: 4px 0;
    font-size: 16px;
    font-weight: lighter;
    border-top: 1px dotted rgba(255, 255, 255, .5);
    border-radius: 0 0 4px 4px;
    color: #fff;
    background-color: rgba(10, 10, 10, .3);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// .book-shadow {
//     margin-left: 6px;
//     margin-top: 14px;
//     width: 150px;
//     height: 16px;
//     background: url('../../public//static//img/book-shadow.png') no-repeat;
//     background-size: 100% 70%;
// }
.theme {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.skin {
    font-size: 30px;
}

.list {
    margin: 0 28px;
    padding: 0;
    list-style-type: none;
    border: 1px solid #e5e6eb;
    border-radius: 4px;

    .li {
        display: flex;
        align-items: center;
        height: 60px;
        padding: 5px 10px;
        border-bottom: 1px solid #e5e6eb;
        cursor: pointer;
        text-decoration: none;

        &:nth-last-of-type(1) {
            border: none;
        }

        img {
            width: 60px;
            height: 60px;
            border-radius: 4px;
            object-fit: cover;
        }

        &:hover {
            .sub {
                background-color: #f2f3f5;
                transition: background-color .3s ease;
            }
        }
    }

    .sub {
        width: 100%;
        height: 60px;

        p {
            margin: 0;

            &:nth-of-type(1) {
                margin: 2px 0 4px 0;
                padding: 0 14px;
                font-weight: bold;
                text-align: left;
                color: #4e5969;

                span {
                    &:nth-child(2) {
                        display: block;
                        padding-right: 10px;
                        float: right;
                        color: #aaa;
                    }
                }
            }

            &:nth-of-type(2) {
                margin-top: 4px;
                padding: 0 14px;
                text-align: left;
                line-height: 1.25em;
                color: #4e5969;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
        }
    }
}

@keyframes rotateBook {
    from {
        transform: perspective(900px) rotateY(0);
        transform-origin: center left;
    }

    to {
        transform: perspective(900px) rotateY(-30deg);
        transform-origin: center left;
    }
}

@keyframes spredModify {
    0% {
        width: 0;
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        width: 550px;
        opacity: 1;
    }
}