.cards {
    width: 100%;
    height: calc(100vh - 85px);
    padding: 0;
    overflow-y: scroll;
}

.card {
    position: relative;
    float: left;
    width: 160px;
    height: 224px;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 4px 10px #0000001a;

    &:hover {
        .card__overlay {
            transform: translateY(0);
        }

        .card-edit {
            display: block;
        }

        .card-delete {
            display: block;
        }

        .card__header {
            transform: translateY(0);
            padding-bottom: 0;
        }
    }
}

.add-card {
    box-sizing: border-box;
    padding-top: 80px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #f2f3f5;
    }
}

.card-edit,
.card-delete {
    z-index: 9;
    display: none;
    position: absolute;
    top: 10px;
    color: #fff;
    transition: color 0.3s;
}

.card-edit {
    left: 10px;

    &:hover {
        color: #ccc;
    }
}

.card-delete {
    right: 10px;

    &:hover {
        color: #ccc;
    }
}

.card__image {
    width: 160px;
    height: 224px;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 20px 0 0 0;
    transform: translateY(100%);
    transition: 0.2s ease-in-out;
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 10px 0 10px;
    padding-bottom: 20px;
    border-radius: 20px 0 0 0;
    background-color: #fff;
    transform: translateY(-100%);
    transition: 0.2s ease-in-out;
}

.card__title {
    width: 100%;
    height: 20px;
    margin: 0 auto;
    color: #6a515e;
    letter-spacing: 3px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: calc(100% - 1px);
    right: 0;
    z-index: 1;
}

.card__description {
    padding: 0 1.5em;
    line-height: 1.25em;
    color: #d7bdca;
    overflow: hidden;
}

/* 弹窗 */
#modify-box {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    .box,
    .box-replace {
        position: relative;
        top: 50%;
        width: 900px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 4px;
        transform: translateY(-50%);
    }

    .box {
        animation: spredModify 0.3s ease-out;
    }

    .box-replace {
        width: 550px;
    }

    .card-detail {
        width: 550px;
        animation: spredModify2 0.3s ease-out;
    }
}

.box-header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-bottom: 1px solid #e5e6eb;

    .header-title {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        margin-top: 4px;
        color: #1d2129;
        font-weight: 500;
        font-size: 16px;
    }

    .header-close {
        margin-left: -12px;
        padding: 4px;
        color: #1d2129;
        font-size: 12px;
        cursor: pointer;
        border-radius: 50%;

        &:hover {
            background-color: #f2f3f5;
        }
    }
}

.box-body {
    position: relative;
    max-height: 500px;
    padding: 0 20px;
    padding-right: 0;
    margin-right: -8px;
    color: #1d2129;
    font-size: 14px;
    overflow-y: scroll;
}

.box-replace-body {
    position: relative;
    max-height: 300px;
    padding: 24px 20px;
    color: #1d2129;
    font-size: 14px;
    overflow-y: scroll;
}

.detail-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 20px;
}

.box-footer {
    box-sizing: border-box;
    width: 100%;
    padding: 16px 20px;
    text-align: right;
    border-top: 1px solid #e5e6eb;
}

.detail-left {
    position: relative;
    width: 160px;
    height: 224px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        box-shadow: 0 4px 10px #ccc;
        cursor: pointer;
        transition: opacity 0.3s ease-out;
    }

    &:hover {
        img {
            opacity: 0.5;
        }

        h3 {
            color: #333;
        }
    }

    h3 {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 5px;
        color: #fff;
        cursor: pointer;
        transition: color 0.3s ease-out;
    }

    .left {
        height: 100%;

        strong {
            display: block;
            height: 30px;
            width: 100%;
            line-height: 30px;
            color: #165dff;
            cursor: pointer;

            &:hover {
                background-color: #f2f3f5;
            }
        }
    }
}

.detail-right {
    width: 300px;
    height: 224px;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 2px dotted #ccc;
}

.body-left {
    box-sizing: border-box;
    float: left;
    width: 20%;
    height: 500px;
    border-right: 1px solid #e5e6eb;
}

.body-right {
    float: right;
    width: 80%;
    height: 500px;
    overflow-y: scroll;

    .right-top {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: left;
        border-bottom: 1px solid #e5e6eb;
    }

    .right-bottom {
        width: 100%;
    }

    .right-middle {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 100%;
        cursor: pointer;
        border-bottom: 1px solid #e5e6eb;
    }
}

.body-left .left,
.detail-left .left {
    width: 100%;
    height: calc(100% - 35px);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.left-top {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    margin-left: -5px;
    border-bottom: 1px dotted #ccc;
}

.body-left .left li,
.detail-left .left li {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 30px;
    width: 100%;
    line-height: 30px;
    text-align: left;
}

.body-left .left li:hover,
.detail-left .left li:hover {
    background-color: #f2f3f5;
}

.li-checked {
    color: #165dff;
    background-color: #f2f3f5;
}

.body-left .left li div,
.detail-left .left li div {
    width: calc(100% - 25px);
    padding-left: 2px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    cursor: pointer;
}

.body-left .left li button,
.detail-left .left li button {
    display: none;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
    color: #333;
    border-radius: 50%;
    cursor: pointer;
}

.body-left .left li:hover button,
.detail-left .left li:hover button {
    display: block;
}

.body-left .left li button:hover,
.detail-left .left li button:hover {
    background-color: #ccc;
}

.body-left .left li button:active,
.detail-left .left li button:active {
    background-color: #f2f3f5;
}

.right-top {
    img {
        width: 150px;
        height: 150px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 4px;
        box-shadow: 0 4px 10px #ccc;
        transition: opacity 0.3s ease-out;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }
    }
}

.right-top-right {
    text-align: left;
    margin: 0 10px;

    h3 {
        margin: 0;
        margin-bottom: 10px;
        color: #333;
    }

    div {
        line-height: 1.25em;
        color: #4e5969;
    }
}

.right-bottom {
    .right-bottom-right {
        float: left;
        width: 560px;
        height: 250px;
        overflow-y: scroll;
    }
}

.right-bottom-right {
    .right-item {
        float: left;
        height: 40px;
        margin: 5px 8px;
    }

    .chart-left {
        float: left;
        width: 400px;
        height: 100%;
    }

    .chart-right {
        float: left;
        width: 150px;
        height: 100%;
        border-left: 1px solid #e5e6eb;
    }
}

.chart-right {
    ul {
        width: 100%;
        height: calc(100% - 10px);
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        overflow-y: scroll;

        li {
            text-indent: 0.5em;
            height: 30px;
            line-height: 30px;
            text-align: left;
            margin: 4px 0;
            margin-left: 10px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            cursor: pointer;

            &:hover {
                background-color: #f2f3f5;
            }
        }
    }
}

.right-item .item-key,
.right-item .item-value {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-top: 6px;
    padding: 2px 4px;
}

.right-item {
    .item-key {
        max-width: 130px;
        border: 1px solid #e5e6eb;
        border-right: 0;
        border-radius: 4px 0 0 4px;
        color: #fff;
        background-color: #3491fa;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            background-color: #66abfa;
        }
    }

    .item-value {
        max-width: 350px;
        background-color: #fff;
        border: 1px solid #e5e6eb;
        border-radius: 0 4px 4px 0;
        overflow: hidden;
    }
}

.tag-close {
    margin-left: 4px;
    padding: 2px 3px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: border 0.2s;

    &:hover {
        border: 1px solid #fff;
    }
}

.item-close {
    cursor: pointer;
    padding: 1px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: border 0.2s;

    &:hover {
        border: 1px solid #fff;
    }
}

@keyframes spredModify {
    0% {
        width: 0;
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        width: 900px;
        opacity: 1;
    }
}

@keyframes spredModify2 {
    0% {
        width: 0;
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        width: 550px;
        opacity: 1;
    }
}