@include cards;

/* 弹窗 */
#modify-box {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-mask-bg);

    .box,
    .box-replace {
        position: relative;
        top: 50%;
        width: 900px;
        margin: 0 auto;
        background-color: var(--color-bg-3);
        border-radius: 4px;
        transform: translateY(-55%);
    }

    .box {
        animation: spredModify 0.3s ease-out;
    }

    .box-replace {
        width: 550px;
    }

    .card-detail {
        width: 550px;
        animation: spredModify2 0.3s ease-out;
    }
}

.box-header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-bottom: 1px solid var(--color-neutral-3);

    .header-title {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        margin-top: 4px;
        font-weight: 500;
        font-size: 16px;
        color: var(--color-text-1);
    }

    .header-close {
        margin-left: -12px;
        padding: 4px;
        font-size: 12px;
        cursor: pointer;
        border-radius: 50%;
        color: var(--color-text-1);

        &:hover {
            background-color: var(--color-fill-2);
        }
    }
}

.box-body {
    position: relative;
    max-height: 500px;
    padding: 0 20px;
    padding-right: 0;
    margin-right: -8px;
    color: var(--color-text-1);
    font-size: 14px;
    overflow-y: scroll;
}

.box-replace-body {
    position: relative;
    max-height: 300px;
    padding: 24px 20px;
    color: var(--color-text-1);
    font-size: 14px;
    overflow-y: scroll;
}

.detail-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 20px;
}

.box-footer {
    box-sizing: border-box;
    width: 100%;
    padding: 16px 20px;
    text-align: right;
    border-top: 1px solid var(--color-neutral-3);
}

.detail-left {
    position: relative;
    width: 160px;
    height: 224px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        box-shadow: 0 4px 10px #ccc;
        cursor: pointer;
        transition: opacity 0.3s ease-out;
    }

    &:hover {
        img {
            opacity: 0.5;
        }

        h3 {
            color: var(--color-text-1);
        }
    }

    h3 {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 5px;
        color: rgb(var(--my-bg-color));
        cursor: pointer;
        transition: color 0.3s ease-out;
    }

    .left {
        height: 100%;

        strong {
            display: block;
            height: 30px;
            width: 100%;
            line-height: 30px;
            color: rgb(var(--primary-6));
            cursor: pointer;

            &:hover {
                background-color: rgb(var(--my-bg2-color));
            }
        }
    }
}

.detail-right {
    width: 300px;
    height: 224px;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px dotted var(--color-neutral-3);
}

.body-left {
    box-sizing: border-box;
    float: left;
    width: 20%;
    height: 500px;
    border-right: 1px solid var(--color-neutral-3);

}

.body-right {
    float: right;
    width: 80%;
    height: 500px;
    overflow-y: scroll;

    .right-top {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: left;
        border-bottom: 1px solid var(--color-neutral-3);
    }

    .right-bottom {
        width: 100%;
    }

    .right-middle {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 100%;
        cursor: pointer;
        border-bottom: 1px solid var(--color-neutral-3);
    }
}

.body-left .left,
.detail-left .left {
    width: 100%;
    height: calc(100% - 35px);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.left-top {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    margin-left: -5px;
    border-bottom: 1px dotted var(--color-neutral-3);
}

.body-left .left li,
.detail-left .left li {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 30px;
    width: 100%;
    line-height: 30px;
    text-align: left;
}

.body-left .left li:hover,
.detail-left .left li:hover {
    background-color: rgb(var(--my-bg2-color));
}

.li-checked {
    color: rgb(var(--primary-6));
    background-color: rgb(var(--my-bg2-color));
}

.body-left .left li div,
.detail-left .left li div {
    width: calc(100% - 25px);
    padding-left: 2px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    cursor: pointer;
}

.body-left .left li button,
.detail-left .left li button {
    display: none;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    color: var(--color-text-1);
    background-color: var(--color-secondary);
    cursor: pointer;
}

.body-left .left li:hover button,
.detail-left .left li:hover button {
    display: block;
}

.body-left .left li button:hover,
.detail-left .left li button:hover {
    color: rgb(var(--danger-6));
    background-color: var(--color-secondary-hover);
}

.body-left .left li button:active,
.detail-left .left li button:active {
    background-color: rgb(var(--my-bg2-color));
}

.right-top {
    img {
        width: 150px;
        height: 150px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 4px;
        box-shadow: 0 4px 4px #0000001a;
        transition: opacity 0.3s ease-out;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }
    }
}

.right-top-right {
    text-align: left;
    margin: 0 10px;

    h3 {
        margin: 0;
        margin-bottom: 10px;
        color: var(--color-text-1);
    }

    div {
        line-height: 1.25em;
        color: #4e5969;
    }
}

.right-bottom {
    .right-bottom-right {
        float: left;
        width: 560px;
        height: 250px;
        overflow-y: scroll;
    }
}

.right-bottom-right {
    .right-item {
        float: left;
        height: 40px;
        margin: 5px 8px;
    }

    .chart-left {
        float: left;
        width: 400px;
        height: 100%;
    }

    .chart-right {
        float: left;
        width: 150px;
        height: 100%;
        border-left: 1px solid #e5e6eb;
    }
}

.chart-right {
    ul {
        width: 100%;
        height: calc(100% - 10px);
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        overflow-y: scroll;

        li {
            text-indent: 0.5em;
            height: 30px;
            line-height: 30px;
            text-align: left;
            margin: 4px 0;
            margin-left: 10px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            cursor: pointer;

            &:hover {
                background-color: rgb(var(--my-bg2-color));
            }
        }
    }
}

.right-item .item-key,
.right-item .item-value {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-top: 6px;
    padding: 2px 4px;
}

.right-item {
    .item-key {
        max-width: 130px;
        border: 1px solid var(--color-neutral-3);
        border-right: 0;
        border-radius: 4px 0 0 4px;
        color: #fff;
        background-color: rgb(var(--my-secondary-6));
        overflow: hidden;
        cursor: pointer;

        &:hover {
            background-color: rgb(var(--my-secondary-5));
        }
    }

    .item-value {
        max-width: 350px;
        background-color: rgb(var(--my-bg2-color));
        border: 1px solid var(--color-neutral-3);
        border-radius: 0 4px 4px 0;
        overflow: hidden;
    }
}

.tag-close {
    margin-left: 4px;
    padding: 2px 3px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: border 0.2s;

    &:hover {
        border: 1px solid rgb(var(--my-bg-color));
    }
}

.item-close {
    cursor: pointer;
    padding: 1px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: border 0.2s;

    &:hover {
        border: 1px solid rgb(var(--my-bg-color));
    }
}

@keyframes spredModify {
    0% {
        width: 0;
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        width: 900px;
        opacity: 1;
    }
}

@keyframes spredModify2 {
    0% {
        width: 0;
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        width: 550px;
        opacity: 1;
    }
}