.map-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;

    .map {
        position: absolute;
        left: 50%;
        top: 50%;
    }

    .operationPanel {
        display: block;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        height: 300px;
        background-color: red;
    }

    .anchor {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        pointer-events: none;

        /* 保持大小不变的小圆圈  */
        .dot {
            box-sizing: border-box;
            position: absolute;
            width: 10px;
            height: 10px;
            left: 10px;
            top: 10px;
            border: 1px solid #f40d0d;
            background: #f43d3db0;
            border-radius: 100%;
            z-index: 2;
            animation: warn 0.6s ease-out;
            animation-iteration-count: infinite;
        }

        /* 产生动画（向外扩散变大）的圆圈  */
        .pulse {
            box-sizing: border-box;
            position: absolute;
            width: 24px;
            height: 24px;
            left: 3px;
            top: 3px;
            border: 1px solid #f4313169;
            background: #ed2b2b4a;
            border-radius: 100%;
            z-index: 1;
            animation: warn 0.6s ease-out;
            animation-iteration-count: infinite;

        }
    }

    .place {
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        cursor: pointer;

        .icon {
            position: absolute;
            left: 50%;
            bottom: 50%;
            margin-left: -15px;
            /* 设置盒子按3D空间显示 */
            transform-style: preserve-3d;
            animation: rotateY 2s ease-out;
            animation-iteration-count: infinite;
        }
    }
}

.log {
    position: absolute;
    top: 10px;
    // left: 0;
    right: 100px;
    // bottom: 0;
    width: 100px;
    height: 60px;
    z-index: 99;
    padding: 5px;
    color: var(--color-text-2);
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    pointer-events: none;
    user-select: none;
}

.icon path[p-id="4283"] {
    d: path("M895.616384 347.812188q0 10.22977-0.511489 19.436563t-1.534466 19.436563q-9.206793 84.907093-37.338661 163.164835t-71.096903 150.377622-99.228771 138.613387-121.734266 127.872128q-9.206793 11.252747-23.528472 11.252747-15.344655 0-24.551449-11.252747-65.470529-61.378621-122.245754-128.895105t-100.251748-141.170829-71.608392-152.935065-36.315684-165.210789q0-8.183816-0.511489-15.344655t-0.511489-15.344655q0-71.608392 28.131868-135.032967t76.211788-110.481518 113.038961-74.677323 138.613387-27.62038 138.101898 27.62038 112.527473 74.677323 76.211788 110.481518 28.131868 135.032967zM540.643357 507.396603q33.758242 0 63.424575-12.787213t51.66034-34.26973 34.781219-50.637363 12.787213-61.89011-12.787213-61.89011-34.781219-50.637363-51.66034-34.26973-63.424575-12.787213-63.424575 12.787213-52.171828 34.26973-35.292707 50.637363-12.787213 61.89011 12.787213 61.89011 35.292707 50.637363 52.171828 34.26973 63.424575 12.787213z");
    // fill: rgb(var(--my-secondary-6));
}

@keyframes warn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }

    10% {
        transform: scale(0.2);
        opacity: 0.2;
    }

    20% {
        transform: scale(0.4);
        opacity: 0.4;
    }

    30% {
        transform: scale(0.6);
        opacity: 0.6;
    }

    40% {
        transform: scale(0.8);
        opacity: 0.8;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    60% {
        transform: scale(1);
        opacity: 0.8;
    }

    70% {
        transform: scale(1);
        opacity: 0.6;
    }

    80% {
        transform: scale(1);
        opacity: 0.4;
    }

    90% {
        transform: scale(1);
        opacity: 0.2;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes rotateY {
    from {
        transform: perspective(80px) rotateY(0);
    }

    to {
        transform: perspective(80px) rotateY(360deg);
    }
}