 .reading-content {
     @include homecontent;
 }

 .content {
     position: relative;
     width: 100%;
     height: calc(100vh - 180px);
     overflow-y: scroll;

     .book-cover {
         float: left;
         width: 150px;
         height: 170px;
         margin: 20px 40px;
         padding: 10px 0;
         cursor: pointer;
         border-radius: 8px;
         transition: all 0.3s ease-in-out;

         &:hover {
             background-color: rgb(var(--my-bg2-color));
         }

         &:hover .card-cover .angle {
             border-color: rgb(var(--my-bg2-color)) rgb(var(--my-bg2-color)) transparent transparent;
         }
     }

     .txt-cover {
         background-color: #61abfd;
     }

     .txt-angle {
         background-color: #3491fa;
     }

     .pdf-cover {
         background-color: #ef6d64;
     }

     .pdf-angle {
         background-color: #d75f59;
     }

     .epub-cover {
         background-color: #478f84;
     }

     .epub-angle {
         background-color: #3c7b72;
     }

     .card-cover {
         position: relative;
         width: 120px;
         height: 150px;
         margin: 0 auto;
         border-radius: 15px;

         .folding-angle {
             position: absolute;
             top: 0;
             right: 0;
             width: 38px;
             height: 38px;
             border-radius: 0 0 0 10px;
         }

         .angle {
             position: absolute;
             top: 0;
             right: 0;
             width: 0;
             height: 0;
             border: 19px solid #fff;
             border-color: rgb(var(--my-bg-color)) rgb(var(--my-bg-color)) transparent transparent;
             transition: all 0.3s ease-in-out;
         }

         .card-title {
             position: absolute;
             top: 50%;
             right: 0;
             width: 100%;
             margin: 0;
             font-size: 36px;
             text-align: center;
             transform: translateY(-50%);
             color: #fff;
         }
     }

     .title {
         box-sizing: border-box;
         width: 150px;
         height: 20px;
         padding: 2px 15px;
         font-size: 16px;
         font-weight: lighter;
         text-align: center;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
     }

 }