body[arco-theme='dark'] {

    // 暗色准备背景
    .sidebar {
        background-color: var(--color-menu-light-bg);
    }

    .user-info {
        background-color: var(--color-menu-light-bg);

        &:hover {
            background-color: var(--color-fill-2);
        }
    }

    .user-target {
        background-color: var(--color-menu-light-bg);

        &:hover {
            background-color: var(--color-fill-2);
        }
    }
}

.sidebar {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 250px;
    height: calc(100vh - 40px);
    padding: 0 20px;
    background-color: rgb(var(--my-bg-color));
    border-radius: 0 0 40px 0;
    box-shadow: 10px 10px 10px -10px #0000001a;

    .btn {
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 20px;
        width: 208px;
        height: 35px;
        margin-top: 8px;
        border-radius: 10px;
        font-size: 15px;

        .iconfont {
            font-size: 20px;
            margin-right: 20px;
        }

        span {
            letter-spacing: 4px;
        }

    }
}

.sidebar-user,
.sidebar-model {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14px;

    a {
        text-decoration: none;
    }
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 208px;
    background-color: rgb(var(--my-bg-color));
    border-radius: 6px 6px 0 0;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: rgb(var(--my-bg2-color));
    }

    .user-item {
        width: 110px;
        height: 56px;
        line-height: 56px;
        text-align: left;
        font-size: 16px;
        padding-left: 4px;
        color: var(--color-text-1);
    }

    .icon-right {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
}

.user-target {
    width: 208px;
    height: 168px;
    background-color: rgb(var(--my-bg-color));
    border-radius: 0 0 6px 6px;
    padding-top: 10px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: rgb(var(--my-bg2-color));
    }
}

.sidebar-bottom {
    position: absolute;
    display: flex;
    bottom: 25px;
    left: 50%;
    width: 200px;
    height: 35px;
    align-items: center;
    justify-content: space-evenly;
    transform: translate(-50%, 0);

    a {
        color: inherit;
    }

    div {
        width: 35px;
        height: 35px;
        font-size: 26px;
        text-align: center;
        line-height: 35px;
        color: var(--color-text-2);
        cursor: pointer;



        &:hover {
            color: var(--color-text-3);
        }
    }
}