.head-item {
    float: right;
    width: 100%;
    user-select: none;

    span {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        padding: 0 15px;
        color: var(--color-text-2);
        border-radius: 2px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: rgb(var(--my-bg2-color));
        }
    }
}

.checked {
    background-color: rgb(var(--my-bg2-color));
}