.head-item {
    float: right;
    width: 100%;

    .headerBtn {
        background-color: rgb(var(--my-bg-color));

        &:hover {
            background-color: rgb(var(--my-bg2-color));
        }
    }
}

/* 触发弹出框基本样式  */
.trigger {
    background-color: rgb(var(--my-bg-color));
    border-radius: 4px;
    box-shadow: 2px 4px 10px #0000001a;
}

.typeface {
    max-width: 180px;
    max-height: 500px;
    padding: 10px 0;
    overflow: scroll;
    transform: translateY(62px);

    &::-webkit-scrollbar-thumb {
        background-color: #e5e6eb;
    }

    &::-webkit-scrollbar-track {
        border-left: none;
    }

    li {
        list-style-type: none;
        height: 30px;
        line-height: 30px;
        padding-left: 14px;
        padding-right: 20px;
        font-size: 16px;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
            background-color: rgb(var(--my-bg2-color));
        }
    }

    .typeface-head {
        margin-bottom: 5px;
        border-bottom: 1px solid #e5e6eb;
        color: rgb(var(--my-bg-color));
        background-color: rgb(var(--my-secondary-6));

        &:hover {
            background-color: rgb(var(--my-secondary-5));
            ;
        }

        span {
            margin-right: 40px;
        }
    }
}

.paper-size {
    width: 210px;
    max-width: 210px;

    li {
        font-size: 14px;

        span {
            &:nth-child(1) {
                float: left;
            }

            &:nth-child(2) {
                float: right;
            }
        }
    }
}