.head-item {
    float: right;
    width: 100%;

    .headerBtn {
        background-color: rgb(var(--my-bg-color));

        &:hover {
            background-color: rgb(var(--my-bg2-color));
        }
    }
}

/* 触发弹出框基本样式  */
.trigger {
    box-sizing: border-box;
    background-color: var(--color-bg-popup);
    border-radius: 4px;
    box-shadow: 2px 4px 10px #0000001a;
}

.typeface {
    max-width: 180px;
    max-height: 500px;
    padding: 10px 0;
    overflow: scroll;
    transform: translateY(62px);

    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-color);
    }

    &::-webkit-scrollbar-track {
        border-left: none;
    }

    li {
        list-style-type: none;
        height: 30px;
        line-height: 30px;
        padding-left: 14px;
        padding-right: 20px;
        font-size: 16px;
        color: var(--color-text-2);
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
            background-color: var(--color-secondary-hover);
        }
    }

    .typeface-head {
        margin-bottom: 5px;
        color: #fff;
        background-color: rgb(var(--my-secondary-6));

        &:hover {
            background-color: rgb(var(--my-secondary-5));
            ;
        }

        span {
            margin-right: 40px;
        }
    }
}

.paper-size {
    width: 210px;
    max-width: 210px;

    li {
        font-size: 14px;

        span {
            &:nth-child(1) {
                float: left;
            }

            &:nth-child(2) {
                float: right;
            }
        }
    }
}


path[id="1"] {
    d: path("M830 99H194c-53.02 0-96 42.98-96 96v634c0 53.02 42.98 96 96 96h636c53.02 0 96-42.98 96-96V195c0-53.02-42.98-96-96-96zm-636 64h636c17.673 0 32 14.327 32 32v634c0 17.673-14.327 32-32 32H194c-17.673 0-32-14.327-32-32V195c0-17.673 14.327-32 32-32z");
    fill: var(--color-text-2);
}

path[id="2"] {
    d: path("M671.783 328c26.861 0 48.775 21.497 49.21 48.287l.007.813V417h-64v-25H544.5v272.756l49.95.156-.199 64-164.35-.512.199-64 50.4.157V392H369v25h-64v-39.9c0-26.895 21.645-48.66 48.405-49.093l.812-.007h317.566z");
    fill: var(--color-text-2);
}

path[id="3"] {
    d: path("M24.381 560.762h97.524v-58.514h112.152v438.857h97.524V502.248h107.276v58.514h97.524V404.724h-512z");
    fill: var(--color-text-2);
}

path[id="4"] {
    d: path("M273.067 78.019v175.543h97.523v-78.02h214.553v770.439h97.524V175.543h219.428v82.895h97.524V78.02z");
    fill: var(--color-text-2);
}

path[id="5"] {
    d: path("M648 160H104c-4.4 0-8 3.6-8 8v128c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-64h168v560h-92c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h264c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8h-92V232h168v64c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8V168c0-4.4-3.6-8-8-8zm272.8 546H856V318h64.8c6 0 9.4-7 5.7-11.7L825.7 178.7c-2.9-3.7-8.5-3.7-11.3 0L713.6 306.3c-3.7 4.7-.4 11.7 5.7 11.7H784v388h-64.8c-6 0-9.4 7-5.7 11.7l100.8 127.5c2.9 3.7 8.5 3.7 11.3 0l100.8-127.5c3.8-4.7.4-11.7-5.6-11.7z");
    fill: var(--color-text-2);
}

path[id="6"] {
    d: path("M853.1 916.4H167.6c-34.9 0-63.3-28.4-63.3-63.3V167.6c0-34.9 28.4-63.3 63.3-63.3h685.5c34.9 0 63.3 28.4 63.3 63.3v685.5c0 34.9-28.4 63.3-63.3 63.3zm-685.5-772c-12.8 0-23.3 10.4-23.3 23.3v685.5c0 12.8 10.4 23.3 23.3 23.3h685.5c12.8 0 23.3-10.4 23.3-23.3V167.6c0-12.8-10.4-23.3-23.3-23.3H167.6z");
    fill: var(--color-text-2);
}

path[id="7"] {
    d: path("M545.4 265.6H222.6v70.8H261v-31.7h102.1v432.7h-13.8v38.4h66.8v-38.4h-11.3V304.7h102.4v31.7h38.5v-70.8zm177.9 428.6V355.3l31.9 30.8 27.8-28.7-80-77.5-77 77.8 28.4 28.2 28.9-29.3v336.5l-29-29.3-28.4 28.1 77.2 78.1 79.1-77.5-28.1-28.6z");
    fill: var(--color-text-2);
}

path[id="8"] {
    d: path("M940.62 870.255a21.367 21.367 0 0 0-28.219 3.098c-1.39.964-8.712 5.367-27.819 7.219 3.337-41.643 24.969-153.959 47.429-254.43a21.316 21.316 0 0 0-16.171-25.472 21.257 21.257 0 0 0-24.943 14.575c-13.704-8.047-48.094-24.883-86.605-17.792-29.226 5.401-53.93 22.92-73.43 52.087-13.61 20.352-29.738 48.214-43.673 78.584-27.11-18.347-57.25-37.59-89.685-55.714l-58.052-561.315a21.333 21.333 0 0 0-23.416-19.02c-.05 0-.094.025-.136.025a21.265 21.265 0 0 0-21.666 14.208L326.758 589.841c-42.82.026-86.621 6.776-130.304 23.492-76.646 29.33-113.98 108.664-123.366 173.142-8.567 58.88 4.94 109.918 35.26 133.18 20.625 15.82 39.961 20.71 55.97 20.71a80 80 0 0 0 21.82-3.055c66.628-18.953 106.24-118.963 110.754-130.884l59.759-172.527c61.534 5.623 127.889 27.383 200.772 65.621l22.801 220.425a21.333 21.333 0 1 0 42.428-4.387L602.948 725.06a1248.913 1248.913 0 0 1 60.826 38.733 21.092 21.092 0 0 0 7.526 3.183c-18.824 52.847-25.907 106.931 1.101 138.906 14.421 17.083 35.61 25.634 63.88 25.634 28.434 0 64.137-8.764 107.265-26.078 1.177 5.657 2.995 7.987 4.514 9.881a23.04 23.04 0 0 0 18.03 8.73c56.346 0 74.394-16.828 79.531-24.055a21.3 21.3 0 0 0-5-29.74zm-683.826-78.387c-9.626 25.275-43.196 93.312-82.356 104.405-8.303 2.355-21.478 3.823-40.106-10.47-17.528-13.449-25.174-50.902-19.013-93.193 7.288-50.1 36.907-116.676 96.393-139.435a311.876 311.876 0 0 1 100.224-20.505l-55.142 159.198zM370.987 592.52l135.048-389.897 46.14 446.123c-55.996-27.162-117.316-48.905-181.188-56.226zm334.011 285.84c-24.943-29.533 12.305-131.788 61.338-205.107 12.791-19.131 28.083-30.498 45.44-33.792 30.882-5.82 60.57 14.422 60.86 14.635 2.705 1.894 5.709 3.004 8.772 3.499-22.596 104.055-32.99 165.043-36.975 201.233-102.494 44.612-131.678 28.723-139.435 19.533z");
    fill: var(--color-text-2);
}

path[id="9"] {
    d: path("M413 584.1a159.4 159.4 0 1 0 318.8 0 159.4 159.4 0 1 0-318.8 0z");
    fill: #FF4C4D;
}

path[id="10"] {
    d: path("M223.3 743.5l54.5-145.4h199.7l51.9 145.4h61.9L408.6 231.8l-6.8-19.7-41.5-.6-199.3 532h62.3zM380 325l76.6 214.8h-157L380 325zm489.1 149.2c17 19.2 25.4 45.2 25.4 78v183.6H853v-48.1c-11.4 15.9-26.2 28.8-44.2 38.7-21.8 11.4-45.4 17.1-70.8 17.1-28.8 0-51.6-7.4-68.6-22.1-17.7-15.1-26.6-35.2-26.6-60.3 0-36.5 14.6-63.1 43.7-79.6 23.6-14 55.3-21 95.1-21l68.6-.6v-9.4c0-47.9-24.9-71.9-74.7-71.9-23.2 0-41.3 4.8-54.2 14.4-14.4 10-23.2 24.7-26.5 44.2h-43.7c4.4-32.8 18.4-57.1 42-73 20.6-14.7 49-22.1 85.2-22.1 40.7 0 70.9 10.7 90.8 32.1zm-18.8 120.5l-65.8.6c-64.1 0-96.2 21.8-96.2 65.3 0 14 5.2 25.4 15.5 34.3 10.7 8.5 25.2 12.7 43.7 12.7 28.8 0 53.3-8.9 73.6-26.6 19.5-17.7 29.3-38.2 29.3-61.4v-24.9z");
    fill: var(--color-text-2);
}

path[id="11"] {
    d: path("M768 128H256a128 128 0 0 0-128 128v512a128 128 0 0 0 128 128h512a128 128 0 0 0 128-128V256a128 128 0 0 0-128-128zm76.8 640a76.8 76.8 0 0 1-76.8 76.8H256a76.8 76.8 0 0 1-76.8-76.8V256a76.8 76.8 0 0 1 76.8-76.8h512a76.8 76.8 0 0 1 76.8 76.8z");
    fill: var(--color-text-2);
}

path[id="12"] {
    d: path("M716.8 321.536H307.2a25.6 25.6 0 0 0 0 51.2h409.6a25.6 25.6 0 0 0 0-51.2zM307.2 541.184H512a25.6 25.6 0 0 0 0-51.2H307.2a25.6 25.6 0 0 0 0 51.2zm409.6 117.248H307.2a25.6 25.6 0 1 0 0 51.2h409.6a25.6 25.6 0 0 0 0-51.2z");
    fill: var(--color-text-2);
}

path[id="13"] {
    d: path("M30.118 963.765h963.764V1024H30.118zm0-301.177h963.764v60.236H30.118zm0-301.176h963.764v60.235H30.118z");
    fill: var(--color-text-2);
}

path[id="14"] {
    d: path("M512 0L331.294 180.706h361.412L512 0z");
    fill: #05AFC8;
}

path[id="15"] {
    d: path("M454.175 180.706h115.65q2.41 0 2.41 2.41v115.651q0 2.41-2.41 2.41h-115.65q-2.41 0-2.41-2.41V183.115q0-2.41 2.41-2.41z");
    fill: #05AFC8;
}

path[id="16"] {
    d: path("M128 896h768v-85.333H128V896zm0-554.667v341.334L298.667 512 128 341.333zm341.333 384H896V640H469.333v85.333zM128 128v85.333h768V128H128zm341.333 256H896v-85.333H469.333V384zm0 170.667H896v-85.334H469.333v85.334z");
    fill: var(--color-text-2);
}

path[id="17"] {
    d: path("M28.27 536.64c-13.3 0-24.8-11.23-24.8-24.8 0-13.25 11.5-24.19 24.8-24.19h124.5c5.8-90.55 45-172.43 105.24-232.96 60.83-60.56 142.73-99.76 233.23-105.51V24.63c0-13.25 10.67-24.51 24.21-24.51 13.28 0 24.8 11.26 24.8 24.51v124.55c90.55 5.75 172.4 44.95 232.96 105.51l1.73 2.02c59.07 60.54 98 141.56 103.78 230.94h124.56c13.25 0 24.19 10.94 24.19 24.19 0 13.57-10.94 24.8-24.19 24.8H878.73c-5.77 90.52-45.55 172.4-105.51 232.67-60.56 60.53-142.41 100.05-232.96 105.8v124.56c0 13.25-11.52 24.21-24.8 24.21-13.54 0-24.21-10.97-24.21-24.21V875.11c-90.5-5.75-172.4-45.27-233.23-105.8l-1.44-2.32c-59.69-60.24-98-140.98-103.8-230.36H28.27v.01zm205.82-48.99h122.24c13.54 0 24.21 10.94 24.21 24.19 0 13.57-10.67 24.8-24.21 24.8H234.09c5.48 66.9 35.18 128.02 79.85 173.57l1.73 1.73c45.85 45.55 106.97 75.81 175.57 81.88V671.28c0-13.54 10.67-24.51 24.21-24.51 13.28 0 24.8 10.97 24.8 24.51v122.54c68.04-6.07 129.16-36.32 175.3-81.88 46.11-46.14 75.81-107.23 81.85-175.3H674.6c-13.25 0-24.21-11.23-24.21-24.8 0-13.25 10.96-24.19 24.21-24.19h122.8c-5.75-67.48-35.15-128.3-80.15-174.15l-1.7-1.41c-46.14-45.85-107.26-75.86-175.3-82.2v122.83c0 13.57-11.52 24.77-24.8 24.77-13.54 0-24.21-11.2-24.21-24.77V229.89c-68.6 6.33-129.72 36.35-175.57 82.2h-.29c-45.55 45.79-75.8 106.94-81.29 175.56z");
    fill: var(--color-text-2);
}

path[id="18"] {
    d: path("M511.3 64.2c-247.4 0-448 200.6-448 448s200.6 448 448 448 448-200.6 448-448c0-247.5-200.5-448-448-448zm0 821.3C305.5 885.5 138 718 138 512.2s167.5-373.3 373.3-373.3 373.3 167.5 373.3 373.3-167.4 373.3-373.3 373.3z");
    fill: var(--color-text-2);
}

path[id="19"] {
    d: path("M306 456.2c-30.9 0-56 25.1-56 56s25.1 56 56 56 56-25.1 56-56c0-31-25.1-56-56-56zm410.7 0c-30.9 0-56 25.1-56 56s25.1 56 56 56 56-25.1 56-56c0-31-25.1-56-56-56zm-205.4 0c-30.9 0-56 25.1-56 56s25.1 56 56 56 56-25.1 56-56c0-31-25-56-56-56z");
    fill: var(--color-text-2);
}