.sider-right {
    min-width: 50px;
    // padding-left: 50px;

}

.sider-right-content {
    position: relative;
    width: 100%;
    height: 100%;
    // overflow: hidden;

    .button-trigger {
        position: absolute;
        top: 10px;
        left: 0;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        color: #fff;
        background-color: #165dff;
        font-size: 14px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.1s;
    }

    .button-trigger-active {
        background-color: #fff;
        color: #86909c;
        box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    }
}

.head-item {
    float: right;
    width: 100%;
}

.siderLeft {
    height: calc(100vh - 85px);
}

.siderLeft-btn {
    width: 20px;
    height: 20px;
    margin-right: 0px !important;
    margin-bottom: -4px;
    border-radius: 4px;

    &:hover {
        background-color: #ddd;
        transition: background-color 0.3s;
    }
}

/* 伸缩杆内容 */
.resizebox-demo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8px;
    height: 100%;
    background-color: #fff;
}

.resizebox-demo-line {
    flex: 1;
    background-color: #e5e6eb;
}

.resizebox-demo-vertical {
    flex-direction: column;

    .resizebox-demo-line {
        width: 2px;
        height: 100%;
        transition: background-color 0.2s;

        &:hover {
            width: 6px;
            background-color: #ccc;
        }
    }
}

.resizebox-demo-horizontal {
    .resizebox-demo-line {
        height: 2px;
        transition: background-color 0.2s;

        &:hover {
            width: 6px;
            background-color: #ccc;
        }
    }
}

/* 触发弹出框基本样式  */
.trigger {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 2px 4px 10px #0000001a;
}

.typeface {
    max-width: 180px;
    max-height: 500px;
    padding: 10px 0;
    overflow: scroll;
    transform: translateY(62px);

    &::-webkit-scrollbar-thumb {
        background-color: #e5e6eb;
    }

    &::-webkit-scrollbar-track {
        border-left: none;
    }

    li {
        list-style-type: none;
        height: 30px;
        line-height: 30px;
        padding-left: 14px;
        padding-right: 20px;
        font-size: 16px;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
            background-color: #f2f3f5;
        }
    }

    .typeface-head {
        margin-bottom: 5px;
        border-bottom: 1px solid #e5e6eb;
        color: #fff;
        background-color: #3491fa;

        &:hover {
            background-color: #276dbc;
        }

        span {
            margin-right: 40px;
        }
    }
}

.headerBtn {
    background-color: #fff;

    &:hover {
        background-color: #f2f3f5;
    }
}

.paper-size {
    width: 210px;
    max-width: 210px;

    li {
        font-size: 14px;

        span {
            &:nth-child(1) {
                float: left;
            }

            &:nth-child(2) {
                float: right;
            }
        }
    }
}

.topBtn {
    width: 100%;
    height: 30px;
    color: #4e5969;
    background-color: #fff;
    border: none;
    cursor: pointer;

    span {
        line-height: 30px;
        margin-left: 10px;
        margin-top: -5px;
    }

    &:hover {
        background-color: #f2f3f5;
    }
}

/* 弹窗 */
#modify-box {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    .box {
        position: relative;
        top: 50%;
        width: 550px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 4px;
        transform: translateY(-50%);
    }
}

.box-header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-bottom: 1px solid #e5e6eb;

    .header-title {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        margin-top: 4px;
        color: #1d2129;
        font-weight: 500;
        font-size: 16px;
    }

    .header-close {
        margin-left: -12px;
        padding: 4px;
        color: #1d2129;
        font-size: 12px;
        cursor: pointer;
        border-radius: 50%;

        &:hover {
            background-color: #f2f3f5;
        }
    }
}

.box-body {
    position: relative;
    max-height: 300px;
    padding: 24px 20px;
    color: #1d2129;
    font-size: 14px;
}

.right-Wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.box-footer {
    box-sizing: border-box;
    width: 100%;
    padding: 16px 20px;
    text-align: right;
    border-top: 1px solid #e5e6eb;
}

path[p-id="3022"] {
    d: path("M512.625752 61.5928c-247.332085 0-447.833585 200.502523-447.833585 447.833585 0 247.331062 200.502523 447.832562 447.833585 447.832562 247.331062 0 447.832562-200.5015 447.832562-447.832562S759.956813 61.5928 512.625752 61.5928zM356.794637 742.478232l-72.894194-72.454172 159.40143-160.369477L282.932396 350.253152l72.454172-72.894194 160.370501 159.40143 159.40143-160.369477 72.894194 72.455195L588.651262 509.214561l160.370501 159.402453-72.455195 72.895217L516.19709 582.110801 356.794637 742.478232z");
}

path[p-id="3276"] {
    d: path("M936.96 332.8c-23.04-56.32-56.32-107.52-99.84-148.48-43.52-43.52-94.72-76.8-148.48-99.84-56.32-23.04-115.2-35.84-176.64-35.84s-120.32 12.8-176.64 35.84c-56.32 23.04-104.96 56.32-148.48 99.84-43.52 43.52-76.8 94.72-99.84 148.48-23.04 56.32-35.84 115.2-35.84 176.64 0 61.44 12.8 120.32 35.84 176.64 23.04 56.32 56.32 107.52 99.84 148.48 43.52 43.52 94.72 76.8 148.48 99.84 56.32 23.04 115.2 35.84 176.64 35.84s120.32-12.8 176.64-35.84c56.32-23.04 107.52-56.32 148.48-99.84 43.52-43.52 76.8-94.72 99.84-148.48 23.04-56.32 35.84-115.2 35.84-176.64 0-61.44-12.8-120.32-35.84-176.64z m-161.28 94.72L537.6 665.6c-5.12 5.12-10.24 5.12-15.36 5.12s-10.24 0-12.8-5.12c-7.68-7.68-7.68-20.48 0-28.16l238.08-238.08c5.12-5.12 7.68-12.8 7.68-23.04s-5.12-20.48-10.24-28.16l-112.64-112.64c-12.8-12.8-30.72-5.12-40.96 7.68l-227.84 227.84-61.44 61.44-23.04 174.08 158.72-25.6-89.6-92.16c-7.68-7.68-7.68-20.48 0-28.16 7.68-7.68 20.48-7.68 28.16 0l117.76 117.76c5.12 5.12 7.68 12.8 5.12 20.48-2.56 7.68-7.68 12.8-15.36 12.8l-225.28 35.84H256c-5.12 0-10.24-2.56-12.8-5.12-5.12-5.12-7.68-10.24-5.12-17.92l28.16-207.36c0-5.12 2.56-7.68 5.12-10.24l38.4-38.4 256-256c30.72-30.72 71.68-33.28 97.28-7.68l112.64 112.64c15.36 15.36 23.04 35.84 23.04 56.32-2.56 23.04-10.24 40.96-23.04 53.76z");
}

path[p-id="1550"] {
    d: path("M512 0C229.229877 0 0 229.229877 0 512S229.229877 1024 512 1024 1024 794.770123 1024 512 794.770123 0 512 0zM820.798216 512a50.37806 50.37806 0 0 1-50.229654 50.229654H562.229654V770.568562a50.37806 50.37806 0 0 1-50.229654 50.229654 50.37806 50.37806 0 0 1-50.229654-50.229654V562.229654H253.431438a50.37806 50.37806 0 0 1-50.229654-50.229654 50.37806 50.37806 0 0 1 50.229654-50.229654h208.338908V253.431438a50.37806 50.37806 0 0 1 50.229654-50.229654 50.37806 50.37806 0 0 1 50.229654 50.229654v208.338908H770.568562a50.37806 50.37806 0 0 1 50.229654 50.229654z");
}

.search-box {
    position: fixed;
    top: 90px;
    left: 50%;
    z-index: 9;
    // width: 320px;
    padding: 6px 0 6px 2px;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #e5e6eb;
    border-radius: 4px;
    box-shadow: 0 2px 8px #00000026;
    user-select: none;

    input {
        outline: none;
        border: none;
        border-right: 1px solid #ccc;
    }

    .show-keywordCount {
        display: block;
        max-width: 100px;
        overflow: hidden;
    }

    .mini-btn {
        padding: 0 1px;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            color: #fff;
            background-color: #ccc;

            path[p-id="3277"],
            path[p-id="9876"] {
                fill: #fff;
            }
        }

        &:active {
            color: #ccc;

            path[p-id="3277"],
            path[p-id="9876"] {
                fill: #ccc;
            }
        }
    }

    path[p-id="3277"] {
        d: path("M785.4592 212.1728c54.1696 54.1696 94.8224 117.4016 112.896 189.6448 63.1808 225.7408-76.8 451.4816-302.4896 514.6624-27.136 4.5568-49.664-9.0112-58.7264-31.5904-4.5056-9.0112-4.5056-36.096-4.5056-45.1584v-234.752c0-27.136 22.5792-45.1584 49.664-45.1584 27.136 0 49.664 22.528 49.664 45.1584v203.1616c144.4864-67.7376 221.2352-225.792 180.5824-379.2384-13.5168-58.7264-45.1072-108.3904-90.2656-148.992a49.1008 49.1008 0 0 1 0-67.7376 43.6224 43.6224 0 0 1 63.1808 0z m-302.4896-76.8c4.5056 13.568 4.5056 40.6528 4.5056 45.2096v234.752c0 27.136-22.528 45.1584-49.664 45.1584-27.0848 0-49.664-22.5792-49.664-45.1584V212.1728C243.712 279.9104 166.9632 437.9136 207.5648 591.36c13.568 58.7264 45.1584 108.3904 90.3168 148.992a49.1008 49.1008 0 0 1 0 67.7376 49.1008 49.1008 0 0 1-67.7376 0c-54.1696-54.1696-94.8224-117.4016-112.896-189.6448-58.6752-225.7408 76.8-451.4816 307.0464-514.6624 22.528-4.5568 49.664 13.5168 58.6752 31.5904z");
        fill: #333;
    }

    path[p-id="9876"] {
        d: path("M251.2 142.4h620.8c59.2 0 99.2 27.2 121.6 72 11.2 24 16 49.6 16 67.2l-1.6 9.6-102.4 360c-4.8 19.2-24 28.8-43.2 24-19.2-4.8-28.8-24-24-43.2L940.8 272l-1.6 9.6c0-8-1.6-22.4-8-35.2-9.6-20.8-27.2-32-57.6-32H246.4l49.6 49.6c14.4 14.4 14.4 36.8 0 49.6-14.4 14.4-36.8 14.4-49.6 0l-107.2-107.2c-14.4-14.4-14.4-36.8 0-49.6L246.4 48c14.4-14.4 36.8-14.4 49.6 0 14.4 14.4 14.4 36.8 0 49.6l-44.8 44.8z m-62.4 60.8c0 1.6 1.6 1.6 0 0v0zM784 881.6H163.2c-59.2 0-99.2-27.2-121.6-72-11.2-24-16-49.6-16-67.2l1.6-9.6 102.4-360c4.8-19.2 24-28.8 43.2-24 19.2 4.8 28.8 24 24 43.2L96 752l1.6-9.6c0 8 1.6 22.4 8 35.2 9.6 20.8 27.2 32 57.6 32h627.2l-49.6-49.6c-14.4-14.4-14.4-36.8 0-49.6 14.4-14.4 36.8-14.4 49.6 0l107.2 107.2c14.4 14.4 14.4 36.8 0 49.6L788.8 976c-14.4 14.4-36.8 14.4-49.6 0-14.4-14.4-14.4-36.8 0-49.6l44.8-44.8z m64-60.8c0-1.6-1.6-1.6 0 0v-1.6 1.6z m-100.8-376c19.2 0 35.2-16 35.2-35.2 0-19.2-16-35.2-35.2-35.2H390.4c-19.2 0-35.2 16-35.2 35.2 0 19.2 16 35.2 35.2 35.2h356.8z m-102.4 204.8c19.2 0 35.2-16 35.2-35.2 0-19.2-16-35.2-35.2-35.2H289.6c-19.2 0-35.2 16-35.2 35.2 0 19.2 16 35.2 35.2 35.2h355.2z");
        fill: #333;
    }
}

.keyword-detail {
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 200px;
    // height: auto;
    // height: 300px;
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 8px #00000026;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 8px;
        height: 8px;
        background-color: #fff;
        border: 1px solid #e5e6eb;
        border-top: none;
        border-right: none;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .keyword-head {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 60px;
        padding-bottom: 4px;
        border-bottom: 2px solid #f2f3f5;
        // background-color: #f2f3f5;

        .head-left {
            width: 60px;
            height: 100%;
            user-select: none;

            img {
                width: 100%;
                height: 100%;
                border-radius: 8px;
                box-shadow: 0 2px 8px #ccc;
            }
        }

        .head-middle {
            width: 120px;
            height: 100%;
            border-right: 1px solid #f2f3f5;

            ul {
                margin: 0;
                padding: 0;
                text-align: left;

                li {
                    list-style-type: none;
                    margin: 2px 0;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }

        .head-right {
            width: 20px;
            height: 100%;

            span {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                transition: color 0.2s;
                cursor: pointer;

                &:hover {
                    color: #165dff;
                }

                &:active {
                    color: #ccc;
                }
            }


        }
    }

    .keyword-middle {
        width: 100%;
        // height: 100px;
        margin: 5px 0;

        .middle-associated {
            width: 100%;
            margin: 0;
            padding: 0;
            text-align: left;

            li {
                width: 100%;
                list-style-type: none;
                margin: 4px 0;

                .degree {
                    float: right;
                    display: block;
                    width: 100px;
                    height: 24px;
                    line-height: 24px;
                }
            }
        }
    }

    // .keyword-bottom {
    //     width: 100%;
    //     height: 100px;
    // }
    .panel-btn {
        position: absolute;
        right: 2px;
        bottom: 2px;
        width: 20px;
        height: 20px;
        border-radius: 6px 0 6px 0;
        transition: background-color 0.3s;
        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: #f2f3f5;
        }

        &:active {
            background-color: #fff;
        }
    }
}

.popover-content {
    padding-top: 4px;
    border-top: 1px solid #ccc;
}