/* src/style/prosemirror.css */
.ProseMirror {
  position: relative;
}
.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
}
.ProseMirror pre {
  white-space: pre-wrap;
}
.ProseMirror li {
  position: relative;
}
.ProseMirror-hideselection *::selection {
  background: transparent;
}
.ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}
.ProseMirror-hideselection {
  caret-color: transparent;
}
.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}
li.ProseMirror-selectednode {
  outline: none;
}
li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}
img.ProseMirror-separator {
  display: inline !important;
  border: none !important;
  margin: 0 !important;
}

/* src/style/baseTheme.css */
:root {
  --bg-color: #f2f3f5;
  --accent-color: #17d49b;
  --fg-color: #333;
  --secondary-fg-color: #696969;
  --selection-bg-color: rgba(23, 212, 155, 0.4);
  --cursor-animation-duration: 80ms;
  --font:
    "Microsoft YaHei",
    SimSun,
    KaiTi;
}

/* src/style/style.css */
main {
    box-sizing: border-box;
    width: 100%;
    padding: 40px;
    background-color: #fff;
}

.cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: calc(24px * 1.5);
    opacity: 1;
    border-radius: 4px;
    background-color: var(--accent-color);
  transition: transform var(--cursor-animation-duration), opacity 0.1s;
  animation: twinkle 1s infinite;
}
.cursor.inactive {
  opacity: 0.5;
  transition: opacity 0.5s;
  animation: none;
}
@keyframes twinkle {
  from {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
.ProseMirror {
  flex: 1 1 auto;
  font-family: var(--font);
  font-size: 24px;
  line-height: 1.5em;
  caret-color: transparent;
}
.ProseMirror:focus {
  outline: none;
}
::selection {
  background-color: var(--selection-bg-color);
}
::-moz-selection {
  background-color: var(--selection-bg-color);
}
.ProseMirror p {
     text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}
.ProseMirror p code {
  color: #a0a0a0;
  font: var(--font);
}
